#app {
  --fontSize: 16px;

  width: 750px;
  margin: 0 auto;
  font-size: var(--fontSize);
  font-family: "Microsoft YaHei";

  .title {
    margin: 20px 0;
    font-size: 28px;
    font-weight: bold;
  }

  .search-component {
    display: inline-block;

    .search-icon {
      cursor: pointer;
    }

    .search-input {
      width: 150px;
      line-height: 1.5em;
      font-size: var(--fontSize);
      vertical-align: middle;
    }

    .search-cancel {
      cursor: pointer;
    }
  }

  .nav-item {
    margin: 8px 0;
    
    .nav-item {
      margin-left: calc(var(--fontSize) * 1);
    }

    .nav-name {
      display: inline-block;
      color: #aaa;
      cursor: pointer;
    }
  
    .nav-text {
      display: inline-block;
      color: black;
      cursor: default;
    }

    .nav-unfold {
      display: inline-block;
      color: black;
      cursor: pointer;
    }

    .nav-link {
      text-decoration: none;
    }
  }
}

@media (pointer: none), (pointer: coarse) {
  #app {
    width: 60%;
    min-width: 375px;
  }
}